Flask
gunicorn
flask-cors
python-dotenv
PyPDF2
reportlab
PyMuPDF
Pillow
langchain==0.3.7
langchain-core==0.3.63
langchain-community==0.3.7
langchain-text-splitters==0.3.2
langchain-cerebras==0.5.0
langchain-openai==0.3.19
openai
tiktoken
sentence-transformers
faiss-cpu
waitress==3.0.0